* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: 'Roboto', "Arial", sans-serif;
}
.site-header {
    background-color: #fff;
    border-top: #ff7500 solid 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.container {
    width: 100%;
    min-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}  

.logo-akademnashr {
    transition: opacity 0.4s ease;
}
.logo-akademnashr img {
    display: block;
}
.logo-akademnashr:hover {
    opacity: 0.8;
}
.logo-akademnashr:active {
    opacity: 0.6;
}
.sitenav-link:hover {
    color: #ff7500;
}
.sitenav-link:active {
    opacity: 0.6;
}
.sitenav-list {
    list-style: none;
    display: flex;
    padding: 0px;
}
.orange-line {
    width: 80px;
    height: 3px;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    background-color: #ff7500;
}
.sitenav-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
    margin-left: 40px;
}
.sitenav-iteam {
    margin-right: 32px;
}
.main-link {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: opasity 0.4s ease;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
}
.main-link:hover {
    opacity: 0.6;
}
.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252420;
    color:#fff;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content {
    width: 390px;
    margin: 170px;
}
.main-link:active{
opacity: 0.8;
}
.hero-heading {
    font-size: 40px;
    line-height: 1.2;  
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
}
.hero-img {
    width: 510px;
    height: 510px; 
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
.hero-text {
    margin-top: 0;
    margin-bottom: 32px;
}
.features-heading {
    width: 435px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 72px;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
}
.features {
    padding-top: 210px;
    padding-bottom: 210px;
}
.feature {
    width: 340px;
    list-style: none;  
    margin-right: 40px;
}
.pad {
padding: 170px;
}
.feature:last-child {
    margin-right: 0;
}
.feature-icon-wrapper {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 117, 0, 0.2);
}
.features-list {
    display: flex;
    list-style: none;
    padding: 0px;
}
.feature-title {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
}
.feature-info {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0.5px;
    display: flex;
}

.promo-inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    border-radius: 12px;
    background-color: #252420;
}
.promo-content {
    width: 440px;
}
.promo-heading {
    font-size: 40px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed',"Roboto", "Arial", sans-serif;
}
.poromo-info-wrapper {
    margin-bottom: 24px;
}
.promo-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 12px;
}
.promo-text:last-child {
    margin-bottom: 0;
}
.promo-highlight {
    color: #ff7500;
}
.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}
.site-footer {
    background-color: #f8f8f8;
    padding-top: 56px;
    padding-bottom: 56px;
}
.site-footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.site-footer ul {
    list-style: none;
    padding: 0;
    
}
.site-footer-divider {
    border: 0;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-link-list a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #252420;
}
.site-footer-link-list a:hover {
    color: #ff7500;
}
.site-footer-link-list a:after {
    opacity: 0.6;
}
.site-footer-link-list {
    width: 224px;
    line-height: 19px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 68px;
}
.site-footer-link-list:last-child {
    margin-right: 0;
}
.surrounding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features {
    display: flex;
}
.icon-net{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.icon-net li {
    margin-right: 16px;
}
.icon-net li:last-child {
    margin-right: 0;
}
.icon-net a {
    display: block;
    color: #252420;   
}
.icon-net svg {
    display: block;
}
.icon-net a:hover {
    color: #ff7500;
}
.icon-net a:active {
    opacity: 0.6;
}
.site-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 16px 0px;
}
.logo {
    width: 227.71px;
    display: flex;
}
*:focus {
    outline-color: #fa4659;                             
    outline-offset: 4px;
    outline-width: 2px;
    outline-style: dashed;
}







